#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
}

header {
    width: 100%;
    padding: 2% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.103);
}

.section-page-index {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    // animation:animationWelcomePage 30s infinite;
    background-image: url(https://cdnm.westwing.com.br/glossary/uploads/br/2021/04/18002935/Decora%C3%A7%C3%A3o-Minimalista-Quarto-Todo-Branco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.width-menu-page-index {
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    font-family: "Architects Daughter", cursive;
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & a {
        width: 40px;
        margin: 0 5px;
    }
    & img {
        width: 100%;
    }
}

menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1600px;
    background-color: rgba(233, 190, 104, 0.637);
    transform: translateY(-5px);
    & a {
        padding: 1% 2%;
        font-size: 16px;
        color: black;
        text-decoration: none;
        transition: 0.3s;
    }
    :hover {
        background-color: rgba(129, 90, 90, 0.171);
        color: azure;
    }
}

.wrapper-text-welcome {
    padding: 15% 0;
    width: 80%;
    max-width: 1600px;
    text-align: right;
    color: azure;
    & h1 {
        background-color: rgba(119, 111, 95, 0.418);
        font-weight: 800;
        font-size: 95px;
    }
    span {
        background-color: rgba(233, 190, 104, 0.637);
        font-weight: 200;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
}

.about-page-index {
    width: 100%;
    height: 70vh;
    max-height: 700px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 0;
    & figure {
        & img {
            width: 100%;
        }
    }
}

.box-left-page-index {
    width: 25%;
    height: calc(100% + 60px);
    background-color: rgba(247, 239, 230, 0.774);
    & .transform-items-page-index {
        transform: translateX(60%);
        color: rgb(71, 71, 71);
    }
    & h2 {
        font-size: 40px;
        text-align: start;
        padding: 20px 0;
    }
    & p {
        padding: 20px 0 40px 0;
        font-size: 19px;
        text-align: start;
    }
    & a {
        & button {
            padding: 15px;
            background-color: rgb(255, 254, 253);
            color: black;
            font-weight: 600;
            text-decoration: none;
            font-size: 18px;
            transition: 0.3s;
            border: none;
            outline: none;
            width: 80%;
        }
    }
}
.transform-items-page-index > a,
button:hover {
    background-color: rgba(129, 90, 90, 0.171);
    color: rgb(255, 255, 255);
}

.article-page-index {
    width: 50%;
    height: 100%;
    padding: 40px 0 0 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-page-index {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-image: url(https://cdnm.westwing.com.br/glossary/uploads/br/2021/04/18015108/O-que-%C3%A9-decora%C3%A7%C3%A3o-minimalista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.work-portfolio {
    width: 100%;
}

.wrapper-work-portfolio {
    width: 90%;
    padding: 1% 2%;
    max-width: 1750px;
    background-color: rgba(253, 249, 239, 0.541);
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-35px);
    & h2 {
        width: 100%;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        padding: 30px 20px;
        background-color: rgba(119, 111, 95, 0.055);
        color: rgb(245, 255, 255);
        margin-bottom: 10px;
    }
    & .wrapper-article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // flex-wrap: wrap;
    }
    & figure {
        width: 600px;
        height: 50%;
        & img {
            width: 100%;
        }
    }
    & p {
        width: 300px;
        font-size: 18px;
        background-color: rgba(119, 111, 95, 0.418);
        color: azure;
        padding: 20px 5px;
        transform: translate(-10px, -20px);
    }
}

.p-article > h2,
p {
    text-align: left;
}

.image-up {
    z-index: 1;
    transform: translateY(-20px);
}

.image-up-two {
    // z-index: 1;
    transform: translateY(-50px);
}

.contact-us-page-index {
    width: 100%;
    max-width: 1600px;
    height: 70vh;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(59, 57, 54);
    & figure {
        width: 40%;
        transform: translateY(-30%);
        & img {
            width: 100%;
        }
    }
}

.contact-us-page-index form {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(150, 128, 101);
    padding: 20px;
    background-color: #fff;
    & h2 {
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 20px 0;
        color: rgb(150, 128, 101);
    }
    & .field-wrapper,
    .field-wrapper > input {
        font-size: 17px;
        padding: 0 0 0 10px;
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(179, 142, 93);
        & :focus {
            border-bottom: 2px solid rgb(228, 141, 28);
        }
        & ::placeholder {
            text-transform: capitalize;
        }
    }
    & .field-wrapper {
        margin: 0 0 20px 0;
    }
    & button[type="submit"] {
        padding: 20px 40px;
        color: aliceblue;
        font-size: 20px;
        font-weight: 600;
        background-color: rgb(179, 142, 93);
        border: none;
        outline: none;
    }
}

.contact-us-page-index form > button[type="submit"]:hover {
    background-color: rgb(150, 128, 101);
    color: #fff;
}

footer {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    color: rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
    & .items-sub-menu {
        width: 30%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & h3 {
            margin: 0 0 20px 0;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact-us-page-index > figure {
        display: none;
    }
    .contact-us-page-index > form {
        width: 90%;
    }
    .about-page-index {
        margin: 0;
        padding: 0;
        height: auto;
        flex-direction: column;
    }
    .box-left-page-index {
        width: 60%;
        padding: 20px;
        margin: 0 0 20px 0;
        background-color: rgba(247, 239, 230, 0.774);
        transform: translateY(-30px);
        & .transform-items-page-index {
            text-align: center;
            transform: translateX(0%);
            color: rgb(71, 71, 71);
            & h2 {
                text-align: center;
            }
        }
        & button {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
    .article-page-index {
        padding: 0;
        transform: translateY(-20px);
    }
    .swiper {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .box-left-page-index {
        width: 100%;
    }
    .article-page-index {
        transform: translateY(-20%);
        width: 100%;
    }
    & menu{
        & a{
            border-right: rgba(255, 255, 255, 0.26) 1px solid;
            padding: 10px 4px;
        }
    }
    .wrapper-article {
        border-bottom: 2px solid #ffffff;
        flex-direction: column;
        & .image-up-two {
            transform: translateY(0px);
        }
    }
    .p-article {
        & p {
            width: 100%;
            transform: translateX(0px);
            margin: 0 0 10px 0;
        }
    }
    .row-reverse-activated {
        flex-direction: column-reverse;
    }
    .works-page-index {
        align-items: center;
    }
    .image-up {
        transform: translateY(0px);
    }
    footer {
        flex-direction: column;
        & .items-sub-menu {
            width: 70%;
            margin: 20px 0;
        }
    }
    .wrapper-work-portfolio {
        & figure {
            width: 100%;
        }
    }
    .social-medias {
        flex-direction: column;
        & a {
            margin: 5px 0;
        }
    }
    .wrapper-text-welcome {
        & h1 {
            padding: 5px;
            font-size: 70px;
        }
    }
}
